<!DOCTYPE html>
<html lang="en" class="full-height">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mold Discover</title>
    <link rel="icon" type="image/png" href="assets/img/favicon.png" />

    <link rel="stylesheet" href="assets/css/bootstrap.css" media="all" >
    <link rel="stylesheet" href="assets/css/jqueryui.css" media="all" >
    <link rel="stylesheet" href="vendor/animate-css/animate.css" media="all" >
    <link rel="stylesheet" href="assets/font/iconfont/iconstyle.css" media="all" >
    <link rel="stylesheet" href="assets/font/font-awesome/css/font-awesome.css" media="all" >
    <link rel="stylesheet" href="assets/css/main.css" media="all"  id="maincss">

    <script type="text/javascript" src="vendor/js-cookie/src/js.cookie.js"></script>
    <style id="moldcustomize">
    </style>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','../www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-83435216-1', 'auto');
        ga('send', 'pageview');

    </script>
</head>
<body class="login" style="background-image: url('assets/img/home_img/mountain.jpg');">
	<div class="pre-loader">
		<div class="loading-img"></div>
	</div>
	
	<div class="form-box">
		<div class="form-head">
			<div class="mold-logo">
				
				<div class="logo"></div>
				<div class="logo-txt">Campination</div>
			</div>
			<hr>
			<div class="txt">ajout nouvelle destination</div>
		</div>
		<div class="form-body">
            
           {{form_start(FormA, {'attr':{'novalidate':'novalidate'}})}}  
				<div class="form-group">
					{{form_label(FormA.nom, "libellé destination")}}
					<div class="input-group">
						
						{{form_widget(FormA.nom)}}
                        {{form_errors(FormA.nom)}}
					</div>
				</div>
				<div class="form-group">
					{{form_label(FormA.gouvernorat)}}
                    
					<div class="input-group">
						
						{{form_widget(FormA.gouvernorat)}}
                        {{form_errors(FormA.gouvernorat)}}
					</div>
				</div>
				<div class="form-group">
					{{form_label(FormA.type,"type de destination")}}
					<div class="input-group">
						
						{{form_widget(FormA.type)}}
                        {{form_errors(FormA.type)}}
					</div>
				</div>
				
				<br>
				{{form_widget(FormA.save)}} 
			{{form_end(FormA)}}



            
		</div>
	</div>
	
<script src="vendor/jquery/dist/jquery.min.js"></script>
<script src="vendor/jqueryui/jquery-ui-1.10.3.custom.min.js"></script>
<script src="vendor/jquery.ui.touch-punch.min.js"></script>
<script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="vendor/retina.min.js"></script>
<script src="assets/js/main.js"></script>

<link href="assets/css/controlpanel.css" rel="stylesheet">
<link href="vendor/colpick-jQuery-Color-Picker-master/css/colpick.css" rel="stylesheet"  type="text/css" />
<link href="vendor/colorpicker/css/evol-colorpicker.min.css" rel="stylesheet" type="text/css" />



<script src="vendor/colpick-jQuery-Color-Picker-master/js/colpick.js"></script>
<script src="vendor/colorpicker/js/evol-colorpicker.min.js"></script>
<script src="assets/js/controlpanel.js"></script>

	<!-- Current Page JS -->
	<script src="assets/js/min/login.min.js"></script>

</body>
</html>